@font-face {
  font-family: 'anticon';
  src: url('https://at.alicdn.com/t/font_zck90zmlh7hf47vi.eot');
  /* IE9*/
  src: url('https://at.alicdn.com/t/font_zck90zmlh7hf47vi.eot?#iefix') format('embedded-opentype'), /* chrome、firefox */ url('https://at.alicdn.com/t/font_zck90zmlh7hf47vi.woff') format('woff'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('https://at.alicdn.com/t/font_zck90zmlh7hf47vi.ttf') format('truetype'), /* iOS 4.1- */ url('https://at.alicdn.com/t/font_zck90zmlh7hf47vi.svg#iconfont') format('svg');
}
.edit-btn {
  position: relative
}
.zi-tree .avatar-wrapper {
  padding: 4px;
  background: #fff;
  position: relative;
  right: 8px;
}
.zi-tree .span-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 100%;
}
.zi-tree .zi-tree-checkbox {
  white-space: nowrap;
  cursor: pointer;
  outline: none;
  display: inline-block;
  line-height: 1;
  position: relative;
  vertical-align: middle;
}
.zi-tree .span-wrapper-left {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.zi-tree .span-wrapper-right {
  margin-left: 20px;
  flex: 1;
  padding-right: 0px;
  display: flex;
  flex-direction: row-reverse ;
  justify-content: start;
  align-items: center;
}
.zi-tree .span-wrapper-right span + span {
  margin-right: 6px;
}
.zi-tree .span-wrapper-right .more-btn  {
    text-align: right;
    width: 50px;
    height: 44px;
    padding-top: 9px;
    padding-right: 7px;
}
.zi-tree-radio {
     outline: none;
     line-height: 1;
     vertical-align: middle;
     display: inline-block;
     position: relative;
     white-space: nowrap;
     cursor: pointer;
     margin-right: 6px;
 }
.zi-tree-no-auth {
    color: #d81e06;
}
.zi-tree-radio-checked .zi-tree-radio-inner:after {
  transform: scale(1);
  opacity: 1;
  transition: all .3s cubic-bezier(.78,.14,.15,.86);
}
.zi-tree-radio-inner:after {
  position: absolute;
  width: 6px;
  height: 6px;
  left: 3px;
  top: 3px;
  border-radius: 4px;
  display: table;
  border-top: 0;
  border-left: 0;
  content: " ";
  background-color: #108ee9;
  opacity: 0;
  transform: scale(0);
  transition: all .3s cubic-bezier(.78,.14,.15,.86);
}
.zi-tree-radio-checked .zi-tree-radio-inner {
  border-color: #108ee9;
}
.zi-tree-radio-inner {
  position: relative;
  top: 0;
  left: 0;
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 14px;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  transition: all .3s;
}
.zi-tree-checkbox-wrapper:hover .zi-tree-checkbox .zi-tree-checkbox-inner,
.zi-tree-checkbox:hover .zi-tree-checkbox-inner,
.zi-tree-checkbox-focused .zi-tree-checkbox-inner {
  border-color: #108ee9;
}
.zi-tree-checkbox-inner {
  display: inline-block;
  position: relative;
  border: 1px solid #bfcbd9;
  border-radius: 4px;
  box-sizing: border-box;
  width: 18px;
  height: 18px;
  transition: border-color .25s cubic-bezier(.71,-.46,.29,1.46),background-color .25s cubic-bezier(.71,-.46,.29,1.46);
}
.zi-tree-checkbox-inner:after {
  box-sizing: content-box;
  content: "";
  border: 2px solid #fff;
  border-left: 0;
  border-top: 0;
  height: 8px;
  left: 6px;
  position: absolute;
  top: 1px;
  -ms-transform: rotate(45deg) scaleY(0);
  transform: rotate(45deg) scaleY(0);
  width: 4px;
  transition: transform .15s cubic-bezier(.71,-.46,.88,.6) .05s;
  -ms-transform-origin: center;
  transform-origin: center;
}
.zi-tree-checkbox-input {
  position: absolute;
  left: 0;
  z-index: 1;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.zi-tree-checkbox-indeterminate .zi-tree-checkbox-inner:before {
  content: "";
  position: absolute;
  display: block;
  border: 1px solid #fff;
  margin-top: -1px;
  left: 3px;
  right: 3px;
  top: 50%;
}
.zi-tree-checkbox-checked .zi-tree-checkbox-inner:after {
  -ms-transform: rotate(45deg) scaleY(1);
  transform: rotate(45deg) scaleY(1);

}
.zi-tree-checkbox-checked .zi-tree-checkbox-inner,
.zi-tree-checkbox-indeterminate .zi-tree-checkbox-inner {
  background-color: #108ee9;
  border-color: #108ee9;
}
.zi-tree-checkbox-disabled.zi-tree-checkbox-checked .zi-tree-checkbox-inner:after {
  animation-name: none;
  border-color: rgba(0, 0, 0, 0.25);
}
.zi-tree-checkbox-disabled .zi-tree-checkbox-inner {
  border-color: #d9d9d9 !important;
  background-color: #f3f3f3;
}
.zi-tree-checkbox-disabled .zi-tree-checkbox-inner:after {
  animation-name: none;
  border-color: #f3f3f3;
}
.zi-tree-checkbox-disabled + span {
  color: rgba(0, 0, 0, 0.25);
  cursor: not-allowed;
}
.zi-tree-checkbox-wrapper {
  cursor: pointer;
  font-size: 12px;
  display: inline-block;
}
.zi-tree-checkbox-wrapper:not(:last-child) {
  margin-right: 8px;
}
.zi-tree-checkbox-wrapper + span,
.zi-tree-checkbox + span {
  padding-left: 8px;
  padding-right: 8px;
}
.zi-tree-checkbox-wrapper + span.ei-avatar,
.zi-tree-checkbox + span.ei-avatar {
  padding-left: 0;
  padding-right: 0;
}
.zi-tree-checkbox-group {
  font-size: 12px;
}
.zi-tree-checkbox-group-item {
  display: inline-block;
}
@media \0screen {
  .zi-tree-checkbox-checked .zi-tree-checkbox-inner:before,
  .zi-tree-checkbox-checked .zi-tree-checkbox-inner:after {
    font-family: 'anticon';
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\E632";
    font-weight: bold;
    font-size: 8px;
    border: 0;
    color: #fff;
    left: 2px;
    top: 3px;
    position: absolute;
  }
}
.zi-tree {
  margin: 0;
  padding: 0;
  font-size: 12px;
}
.zi-tree li.zi-tree-li {
  margin: 0;
  list-style: none;
  white-space: nowrap;
  outline: 0;
  line-height: 27px;
}
.zi-tree li span[draggable="true"] {
  user-select: none;
  border-top: 2px transparent solid;
  border-bottom: 2px transparent solid;
  margin-top: -2px;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}
.zi-tree li.drag-over > span[draggable] {
  background-color: #108ee9;
  color: white;
  opacity: 0.8;
}
.zi-tree li.drag-over-gap-top > span[draggable] {
  border-top-color: #108ee9;
}
.zi-tree li.drag-over-gap-bottom > span[draggable] {
  border-bottom-color: #108ee9;
}
.zi-tree li.filter-node > span {
  color: #f04134 !important;
  font-weight: 500 !important;
}
.zi-tree li ul.zi-tree-ul {
  margin: 0;
  padding: 0 0 0 20px;
}
.zi-tree li .zi-tree-node-content-wrapper {
  display: inline-block;
  padding: 3px 5px;
  border-radius: 2px;
  margin: 5px 0px;
  cursor: pointer;
  text-decoration: none;
  vertical-align: top;
  color: rgba(0, 0, 0, 0.65);
  transition: all .3s;
  position: relative;
}
.zi-tree li .zi-tree-node-content-wrapper:hover {
  background-color: #ecf6fd;
}
.zi-tree li .zi-tree-node-content-wrapper.zi-tree-node-selected {
  background-color: #d2eafb;
}
.zi-tree li span.zi-tree-checkbox {
  margin: 0 4px 0 2px;
  vertical-align: middle;
}
.zi-tree li span.zi-tree-switcher,
.zi-tree li span.zi-tree-iconEle {
  margin: 0;
  margin-right: 10px;
  width: 24px;
  height: 24px;
  line-height: 24px;
  display: inline-block;
  vertical-align: middle;
  border: 0 none;
  cursor: pointer;
  outline: none;
  text-align: center;
}
.zi-tree li span.zi-tree-icon_loading {
  position: absolute;
  left: 0;
  top: 1px;
  background: #fff;
  transform: translateX(-100%);
  transition: all .3s;
}
.zi-tree li span.zi-tree-icon_loading:after {
  display: inline-block;
  font-family: 'anticon' !important;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\E6AE";
  animation: loadingCircle 1s infinite linear;
  color: #108ee9;
}
.zi-tree li span.zi-tree-switcher.zi-tree-switcher-noop {
  cursor: default;
}

:root .zi-tree li span.zi-tree-switcher.zi-tree-switcher_open:after {
  filter: none;
}
:root .zi-tree li span.zi-tree-switcher.zi-tree-switcher_open:after {
  font-size: 12px;
}
.zi-tree li span.zi-tree-switcher.zi-tree-switcher_close {
  display: inline-block;
  cursor: pointer;
  width: 0;
  height: 0;
  vertical-align: middle;
  margin-left: 10px;
  border: 6px solid transparent;
  border-right-width: 0;
  border-left-color: #97a8be;
  border-left-width: 7px;
  transform: rotate(0deg);
  transition: transform .3s ease-in-out;
}
.zi-tree.zi-tree-show-line li span.zi-tree-switcher.zi-tree-switcher_close {
  border: 0px;
  width: auto;
  height: auto;
}
:root .zi-tree li span.zi-tree-switcher.zi-tree-switcher_close:after {
  filter: none;
}
:root .zi-tree li span.zi-tree-switcher.zi-tree-switcher_close:after {
  font-size: 12px;
}
.zi-tree li span.zi-tree-switcher.zi-tree-switcher_close:after {
  transform: rotate(270deg) scale(0.59);
}
.zi-tree li:last-child > span.zi-tree-switcher:before,
.zi-tree li:last-child > span.zi-tree-iconEle:before {
  display: none;
}
.zi-tree > li:first-child {
  padding-top: 7px;
}
.zi-tree > li:last-child {
  padding-bottom: 7px;
}
.zi-tree-child-tree {
  display: none;
}
.zi-tree-child-tree-open {
  display: block;
}
li.zi-tree-treenode-disabled > span,
li.zi-tree-treenode-disabled > .zi-tree-node-content-wrapper,
li.zi-tree-treenode-disabled > .zi-tree-node-content-wrapper span,
li.zi-tree-treenode-disabled > span.zi-tree-switcher {
  color: rgba(0, 0, 0, 0.25);
  cursor: not-allowed;
}
li.zi-tree-treenode-disabled > .zi-tree-node-content-wrapper:hover {
  background: transparent;
}
.zi-tree-icon__open {
  margin-right: 2px;
  vertical-align: top;
}
.zi-tree-icon__close {
  margin-right: 2px;
  vertical-align: top;
}
.zi-tree.zi-tree-show-line li.zi-tree-li {
  position: relative;
}
.zi-tree.zi-tree-show-line li span.zi-tree-switcher {
  background: #fff;
  color: rgba(0, 0, 0, 0.65);
}
.zi-tree.zi-tree-show-line li span.zi-tree-switcher.zi-tree-switcher-noop:after {
  font-size: 12px;
  font-size: 12px \9;
  transform: scale(1) rotate(0deg);
  /* IE6-IE8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=1, M12=0, M21=0, M22=1)";
  zoom: 1;
  display: inline-block;
  font-family: 'anticon' !important;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\E66A";
  vertical-align: baseline;
  font-weight: normal;
  transition: transform .3s;
}
:root .zi-tree.zi-tree-show-line li span.zi-tree-switcher.zi-tree-switcher-noop:after {
  filter: none;
}
:root .zi-tree.zi-tree-show-line li span.zi-tree-switcher.zi-tree-switcher-noop:after {
  font-size: 12px;
}
.zi-tree li span.zi-tree-switcher.zi-tree-switcher_open {
  display: inline-block;
  cursor: pointer;
  width: 0;
  height: 0;
  vertical-align: middle;
  margin-left: 10px;
  border: 6px solid transparent;
  border-right-width: 0;
  border-left-color: #97a8be;
  border-left-width: 7px;
  transform: rotate(0deg);
  transition: transform .3s ease-in-out;
  transform: rotate(90deg);
}
.zi-tree.zi-tree-show-line li span.zi-tree-switcher.zi-tree-switcher_open {
  border: 0px;
  width: auto;
  height: auto;
  transform: rotate(0deg);

}

.zi-tree.zi-tree-show-line li span.zi-tree-switcher.zi-tree-switcher_open:after {

  font-size: 12px;
  font-size: 12px \9;
  transform: scale(1) rotate(0deg);
  /* IE6-IE8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=1, M12=0, M21=0, M22=1)";
  zoom: 1;
  display: inline-block;
  font-family: 'anticon' !important;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\E621";
  vertical-align: baseline;
  font-weight: normal;
  transition: transform .3s;
  width: auto;
}
:root .zi-tree.zi-tree-show-line li span.zi-tree-switcher.zi-tree-switcher_open:after {
  filter: none;
}
:root .zi-tree.zi-tree-show-line li span.zi-tree-switcher.zi-tree-switcher_open:after {
  font-size: 12px;
}
.zi-tree.zi-tree-show-line li span.zi-tree-switcher.zi-tree-switcher_close {
  color: rgba(0, 0, 0, 0.43);
}
.zi-tree.zi-tree-show-line li span.zi-tree-switcher.zi-tree-switcher_close:after {
  font-size: 12px;
  font-size: 12px \9;
  transform: scale(1) rotate(0deg);
  /* IE6-IE8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=1, M12=0, M21=0, M22=1)";
  zoom: 1;
  display: inline-block;
  font-family: 'anticon' !important;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\E645";
  vertical-align: baseline;
  font-weight: normal;
  transition: transform .3s;
}
:root .zi-tree.zi-tree-show-line li span.zi-tree-switcher.zi-tree-switcher_close:after {
  filter: none;
}
:root .zi-tree.zi-tree-show-line li span.zi-tree-switcher.zi-tree-switcher_close:after {
  font-size: 12px;
}
.zi-tree.zi-tree-show-line li.zi-tree-li:not(:last-child):before {
  content: ' ';
  width: 1px;
  border-left: 1px solid #d9d9d9;
  height: 100%;
  position: absolute;
  left: 14px;
  margin: 22px 0;
}
.zi-tree-title {
  font-size: 14px;
}
@keyframes antSlideUpOut {
  0% {
    opacity: 1;
    transform-origin: 0% 0%;
    transform: scaleY(1);
  }
  100% {
    opacity: 0;
    transform-origin: 0% 0%;
    transform: scaleY(0.8);
  }
}
@keyframes antSlideUpIn {
  0% {
    opacity: 0;
    transform-origin: 0% 0%;
    transform: scaleY(0.8);
  }
  100% {
    opacity: 1;
    transform-origin: 0% 0%;
    transform: scaleY(1);
  }
}

.slide-up-enter-active {
  animation-duration: 0.2s;
  animation-name: none;
}
.slide-up-leave-active {
  animation-duration: 0.2s;
  animation-name: none;
  pointer-events: none;
}
.slide-up-enter,
.slide-up-appear {
  opacity: 0;
  animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}
.slide-up-leave {
  animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
}
